body {
    background-color: #5603AD;
    font-family: 'Open Sans', sans-serif;
  }
  
section {
    box-shadow: 10px 10px 5px 0px rgba(240,255,241,0.31);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(240,255,241,0.31);
  -moz-box-shadow: 10px 10px 5px 0px rgba(240,255,241,0.31);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: #F0FFF1;
    padding: 15px;
    border-radius: 2%;
    text-align: center;
}
  
header {
    background-size: cover;
    height: 80px;
}
  
div {
    padding: 15px;
    background-color: #B3E9C7;
    border-radius: 2%;
    text-align: left;
}
  
img {
    width: 150px;
    height: 150px;
    border-radius: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border: 8px solid #F0FFF1;
}